# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.project
.classpath
.settings/

# Logs
logs
*.log

# Temp files
*.tmp
*~
.DS_Store

# Build output
out/
build/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Spring
spring.log
*.swp
.DS_Store